
header {
    background: linear-gradient(to right, rgb(17, 39, 54), rgb(19, 45, 54)); /* degradado de izquierda a derecha */
    color: white; /* Color del texto */
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
}


.logo{
    width: 5%;
}

.nombre-app {
    font-size: 3vh; 
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.3); /* sombra del texto*/
}
