html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.contedor-principal{
    height: auto; /* Ajusta la altura al contenido */
    min-height: 70vh; /* Opcionalmente, establece un mínimo */
}

.titulos{
    color:rgb(19, 45, 54);
}

.logo-llorando{
    width: 400px; 
    margin-top: 5%;
}

.accordion-item {
    margin-bottom: 20px; /* Margen que hay entre cada uno de los temas */
    border: none; /* Eliminamos el borde que sino se lia con el "boton" de cada tema */
}

/* Asegurarse de que el accordion-header cubra todo el fondo y no deje espacio */
.accordion-header {
    background-color: transparent; /* Transaparente para que no influya con el button */
    cursor: pointer;
    text-align: left; /* Alinea el texto del header para que empiece a la izquierda */
    font-size: 1.2em; /* Tamaño de la fuente */
}

.accordion-header {
    display: flex;
    justify-content: space-between;  /* Esto separa el texto y el ícono, uno a la izquierda y el otro a la derecha */
    align-items: center;  /* Alinea el texto y el ícono verticalmente */
    width: 100%;  /* Asegura que el contenedor ocupe todo el espacio disponible */
}

/* Fondo y borde consistente para el botón de acordeón */
.accordion-button {
    background-color: rgba(19, 45, 54, 0.507) !important; /* Azul uniforme para el fondo */
    border: 1px solid #ffffff !important; /* Borde azul */
    color: white !important; /* Texto blanco */
    padding: 0.75rem 1.25rem; /* Ajustar padding */
    margin: 0; /* Eliminar cualquier margen */
    box-sizing: border-box; /* Asegura que el ancho incluya bordes y rellenos */
    border-radius: 0; /* Eliminar borde redondeado si quieres bordes rectos */
    height: 70px; /* Establece una altura fija para el botón */  
}

/* Fondo y borde consistente cuando el acordeón está abierto */
.accordion-button:not(.collapsed) {
    background-color: rgba(19, 45, 54, 0.76) !important; /* Azul oscuro pero más transparente para que cuando se haga el hover se vea el cambio de color */
    box-sizing: border-box;
    border-radius: 0; /* Eliminar borde redondeado si no quieres bordes redondeados */
}

/* Cambia el color del botón (cuadro del titulo de cada tema) cuando el ratón pasa por encima */
.accordion-button:hover {
    background-color: rgb(19, 45, 54) !important; /* Azul más oscuro, como el footer y header */  
    font-size: 1.10rem; /* Aumenta el tamaño de letra un poco */
    transform: scale(1.01); /* Aumenta la escala del recuadro de cada tema*/
}

/* Contenido del acordeón oculto por defecto */
.accordion-content {
    text-align: justify;
    display: none;
    padding: 10px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    transition: max-height 0.5s ease;
    overflow: hidden;
    max-height: 0;
}

.accordion-content.show {
    display: block;
    max-height: 5000px; /* Esta es la altura máxima del body que se despliega de cada tema, se puede aumentar si hace falta más, pero no creo */
}

/* Botón para subir */
.scroll-to-top {
    text-decoration: none;
    position: fixed;
    bottom: 15%;
    right: 0; 
    background-color:rgba(19, 45, 54, 0.685); 
    color: #fff; 
    width: 50px;
    height: 50px;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;  
    border-bottom-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: color 0.3s, opacity 0.3s, visibility 0.3s;  
    z-index: 1000;
}
  
.scroll-to-top:hover {
    color: rgb(17, 41, 49);  /* La flecha se vuelve dorada al pasar el ratón */
}
  
.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}

/* Diseño*/
.accordion-button::after {
    background-color: #ffffffb4;         
    border-radius: 50%;             
}

