# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build, Test and Deploy Node.js app to Azure Web App - Learn2Program

on:
  push:
    branches:
      - main
  pull_request: 
    branches:
      - main
  workflow_dispatch:
 
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read # This is required for actions/checkout

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install and build
        run: |
          npm install

      - name: Zip artifact for test and deployment
        run: zip release.zip ./* -r

      - name: Upload artifact for test and deployment
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip

      - name: Clean up
        run: rm -rf release.zip

  test:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read # This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Unzip artifact for testing
        run: unzip release.zip

      - name: Run tests
        run: |
          npm test prueba
      
      - name: Clean up
        run: rm -rf release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: [build, test]
    environment:
      name: 'Pre'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write # This is required for requesting the JWT
      contents: read # This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Unzip artifact for deployment
        run: unzip release.zip
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_F10C8666A31B43E687A238D8DFE00F02 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_560341B87F244D4F86A9B5369B0E368D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A8C073D822BA4F5B9C7FA0903BE4C82E }}
      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'Learn2Program'
          slot-name: 'Production'
          package: .

      - name: Clean up
        run: rm -rf release.zip

